<!DOCTYPE html>
<html>
<head>
	<title>Test web ruby</title>
</head>
<body>
	<h1>Hola ruby!</h1>
	<br>
	<!-- @respuesta.each do |post| -->
	<% @posts.each do |post| %>
		<h4>ID: <%= post['id'] %></h4>
		<h4>User: <%= post['userId'] %></h4>
		<h2><%= post['title'] %></h2>
		<p><%= post['body'] %></p>
		<br>
	<% end %>
</body>
</html>